
  ---
  colection_type: "right stuff"
  templateEngine: md,liquid
  ---
  
  <div class="justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span><br/>
      <span x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
    </div>
  </div>
  
<ul>
  {%- for section in collections.about -%}
  <li>{{ section.data.title }}</li>
  <li>{{ section.templateContent }}</li>
  <li>{{ section.data.tags }}</li>
  <li>{{ section.inputPath | split: "/" }}</li>

  {%- assign crumbs = section.inputPath | split: '/' %}
  {%- assign current_page = crumbs.last %}
  {%- assign previous = section.inputPath | remove: current_page | split: '/' %}
  <li>{{ current_page }}</li>
  <li>{{ previous.last }}</li>
  {%- endfor %}
  <li>{{ collections.all.tags }}</li>
  <li>{{ collection_type }}</li>
</ul>

{% icon "Github" %}
