
  <div class="justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span><br/>
      <span x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
    </div>
  </div>
  
<ul>
  {%- for section in collections.about -%}
  <li>{{ section.data.title }}</li>
  <li>{{ section.templateContent }}</li>
  <li>{{ section.data.tags }}</li>
  <li>{{ section.inputPath | split [2] }}</li>
  {%- endfor %}
  <li>{{ collections.all }}</li>
</ul>
